/* css definitions for rtl languages */

html {
  direction: rtl;
}

.large-screen-label {
  text-align: left;
}

.small-screen-label {
  text-align: right;
}

.td-with-input {
  text-align: right;
}
